## Surya G - 20BCE0079

Vellore Campus

E-mail ID: surya.g2020@vitstudent.ac.in

Task - 1 Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [ ]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randint(10, size=(4,4)))
df

   0  1  2  3
0  0  7  8  3
1  6  3  7  3
2  5  8  3  4
3  5  1  4  6

Task - 2 Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [ ]:
df.columns = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0               0               7               8               3
1               6               3               7               3
2               5               8               3               4
3               5               1               4               6

Task - 3 Find the descriptive statistics of the 'df' dataframe.

In [ ]:
statistics = df.describe()
print(statistics)

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         4.000000        4.750000        5.500000        4.000000
std          2.708013        3.304038        2.380476        1.414214
min          0.000000        1.000000        3.000000        3.000000
25%          3.750000        2.500000        3.750000        3.000000
50%          5.000000        5.000000        5.500000        3.500000
75%          5.250000        7.250000        7.250000        4.500000
max          6.000000        8.000000        8.000000        6.000000

Task - 4 Check for the null values in 'df' and find the data type of the columns.

In [ ]:
nullCount = df.isnull().sum()

# Print the number of null values in each column
print("Null value counts:")
print(nullCount)

# Get the datatype of each column
dataTypes = df.dtypes

# Print the datatypes of each column
print("\nColumn datatypes:")
print(dataTypes)

Null value counts:
Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

Column datatypes:
Random value 1    int64
Random value 2    int64
Random value 3    int64
Random value 4    int64
dtype: object

Task - 5 Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.

In [ ]:
columnsLoc = df.loc[:, ['Random value 2', 'Random value 3']]
print('Columns using loc() method: \n', columnsLoc)

columnsiLoc = df.iloc[:, [1, 2]]
print('Columns using iloc() method: \n', columnsiLoc)

Columns using loc() method:
    Random value 2  Random value 3
0               7               8
1               3               7
2               8               3
3               1               4
Columns using iloc() method:
    Random value 2  Random value 3
0               7               8
1               3               7
2               8               3
3               1               4